@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ibarra Real Nova", serif;
  background-color: black;
}

.firstPart {
  height: 100vh;
  background: linear-gradient(rgba(42, 51, 80, 0.6), rgba(42, 51, 80, 0.6)),
    url("/png/photo_2023-12-13_15-13-11\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: relative;
  padding-bottom: 50px;
  background-size: cover;
}

.logo1 {
  position: absolute;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  transform: translateY(-75%);
  z-index: 0;
}

.active {
  color: blue;
  font-size: 17px;
}

.navigation {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.navbar {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 0.7rem 0;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.nav-menu {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.nav-menu li a {
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.container-text {
  margin-top: 11rem;
}

.container-icon {
  margin-top: 11rem;
}

.text {
  text-align: center;
  color: #fff;
}

.head1 {
  font-weight: 400;
  font-size: 90px;
}

.btn {
  font-size: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.icon {
  color: #fff;
  font-size: 2rem;
}

/* second page */
.secondPart {
  height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo2 {
  height: 6rem;
  width: 6rem;
  transform: translateY(-25%);
  z-index: 1;
}

#event-heading {
  color: #3a425d;
}

.event-text {
  background-color: #fdeddb;
  border-top: 3px solid #e2bb9f;
  border-bottom: 3px solid #e2bb9f;
}

.event-img {
  height: 250px;
  width: 250px;
}

/* third page */
.thirdPart {
  height: 100vh;
  background: linear-gradient(rgba(42, 51, 80, 0.6), rgba(42, 51, 80, 0.6)),
    url("/png/services_bg_img.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo3 {
  height: 6rem;
  width: 6rem;
  transform: translateY(-35%);
  z-index: 1;
}

#services-heading {
  color: #fff;
}

.services-img {
  height: 180px;
  width: 180px;
}

.services-page {
  margin-top: 7rem;
}
.services-album {
  border-left: 2px solid #fff;
}

.services-img2 {
  max-width: 100%;
  height: auto;
}

.service-size {
  height: 386px;
}

.service-pic {
  position: relative;
  overflow: hidden;
}

/* the youtube thing */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(42, 51, 80, 0.6), rgba(42, 51, 80, 0.6));
  border-radius: 20px;
}

#player-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 20px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(2%, -50%);
  z-index: 1;
  color: #fff;
  font-size: 204px;
}

/* the audio */
.audio-box {
  border: 2px solid white;
  border-radius: 10px;
  width: 35rem;
}

/* the forth page */
.contactPart {
  height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo4 {
  height: 6rem;
  width: 6rem;
  transform: translateY(-45%);
  z-index: 1;
}

#contact-heading {
  color: #3a425d;
}

.icon4 {
  color: #3a425d;
  font-size: 2rem;
}

.icon-color {
  color: #3a425d;
}
/* footer */
.form-control {
  background-color: lightgrey;
}

footer {
  background-color: #3a425d;
}

.logo6 {
  height: 6rem;
  width: 6rem;
}

/* Gallery page */
.galleryPart {
  height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

#gallery-heading {
  color: #fff;
}

.gallery-img {
  height: 380px;
  width: 280px;
  padding: 1rem;
}

/* the scroll of the rows in gallery */
.scrollable-row {
  overflow-x: auto;
  width: 100%;
}

.row {
  flex-wrap: nowrap;
}
.scrollable-row::-webkit-scrollbar {
  width: 0;
}

.about-img {
  height: 650px;
  width: 438px;
}

/* biography */
.scroll-biogy {
  max-height: 650px;
  overflow-y: auto;
}

/* Style the scrollbar */
/* .scroll-biogy::-webkit-scrollbar {
  width: 8px;
}

.scroll-biogy::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll-biogy::-webkit-scrollbar-thumb {
  background: #888;
}

.scroll-biogy::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.send-btn {
  border: 1px solid #3a425d;
}
.send-btn:hover {
  background-color: #3a425d;
  color: #fff;
}
